.wrapper{

    padding: 20px 40px;
    display: flex;
    width: 100%;
}
.imageContainer{
    flex: 1;
    width: 100%;
}
.img{
    width: 100%;
    height: 90vh;
    object-fit: contain;
}
.infoContainer{
    flex: 1;
    padding: 0px 50px;
}
.title{
    font-weight: 200;
}
.desc{
    margin: 20px 0px;
    
}
.price{
    font-size: 40px;
    font-weight: 100;
   
    font-family: 'Urbanist', sans-serif;

}
.addContainer{
    margin-top:60px;
    display: flex;
    justify-content: space-between;
}
.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    font-size: 19px;
    
    padding: 10px;
    border: 2px solid rgb(36, 163, 110);
    background-color:white
}
.cart:hover{
    transition: all 0.2s ease;
    transform: scale(1.1);
}
.goBack {
    background-color:white;
    margin: 20px 50px;
    padding:10px
}

@media (max-width: 500px){
    .wrapper{

        padding: 10px;
        display: block;
        width: 100%;
    }
    .img{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
    .addContainer{
        margin-top:20px;
        display: flex;
        
    }
    .imageContainer{
        flex: 1;
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
    }
    .infoContainer{
        flex: 1;
        padding: 0px 5px;
    }
    .cart{
        font-size: 19px;
        margin-right: 0px;
        padding: 10px;
        border: 2px solid rgb(36, 163, 110);
        background-color:white
    }
}

@media (min-width: 768px) and (max-width: 800px){
    .wrapper{

        padding: 10px;
        display: block;
        width: 100%;
    }
    .imageContainer{
        flex: 1;
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
    }
    .img{
        width: 100%;
        height: 80vh;
        object-fit: cover;
    }
}